<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="card">
      <!-- Φόρμα για αναζήτηση πόλης -->
      <form action="/" method="post">
        <input
          type="text"
          name="city"
          placeholder="Enter city name"
          spellcheck="false"
          required
        />
        <button>
          <img src="images/search.png" alt="search-icon" />
        </button>
      </form>

      <!-- Εμφάνιση καιρού -->
      <div class="weather">
        <% if (locals.weatherDescription) { %> <% let folder = isDay ? "day" :
        "night"; %>
        <!-- select day or night folder -->

        <!-- wheather icon -->
        <img
          src="images/<%= folder %>/<%= weatherDescription.toLowerCase().replace(' ', '_') %>.png"
          alt="<%= weatherDescription %>"
          class="weather-icon"
        />
        <% } %>

        <!-- Θερμοκρασία και πόλη -->
        <h1 class="temp"><%= temp !== "--" ? temp + "°C" : "--" %></h1>
        <h2 class="city"><%= city %></h2>

        <!-- Λεπτομέρειες: Υγρασία και Ταχύτητα ανέμου -->
        <div class="details">
          <div class="col">
            <img src="images/humidity.png" alt="Humidity" />
            <div>
              <p class="humidity">
                <%= humidity !== "--" ? humidity + "%" : "--" %>
              </p>
              <p>Humidity</p>
            </div>
          </div>
          <div class="col">
            <img src="images/air.png" alt="Wind Speed" />
            <div>
              <p class="wind"><%= wind !== "--" ? wind + " km/h" : "--" %></p>
              <p>Wind Speed</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Μήνυμα αν η πόλη δεν βρέθηκε -->
      <% if (city === "City not found!") { %>
      <p class="error-message">Oops! City not found. Please try again.</p>
      <% } %>
    </div>
  </body>
</html>
